<!-- add_restaurant.html -->
{% extends 'base.html' %}

{% block title %}Add Restaurant{% endblock %}

{% block content %}
    <h1>Add Restaurant</h1>
    <form method="post" action="{{ url_for('add_restaurant') }}">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.location.label }} {{ form.location() }}

        {% if current_user.is_admin %}
            {{ form.user_id.label }} {{ form.user_id() }}
        {% endif %}

        {{ form.submit() }}
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
