{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h3>User List</h3>
<ul>
    {% for user in users %}
        <li>
            {{ user.id }} - {{ user.username }} - {{ user.role }}
            <a href="{{ url_for('promote_user', username=user.username) }}">Promote/Demote</a>
        </li>
    {% endfor %}
</ul>

<h3>Restaurants</h3>
    <ul>
        {% for restaurant in restaurants %}
            <li>
                {{ restaurant.owner.username }}
                <a href="{{ url_for('restaurant_detail', restaurant_id=restaurant.id) }}">
                - {{ restaurant.name }} - {{ restaurant.location }}
                </a>
                <a href="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">Edit</a>
                <form method="post" action="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}" style="display: inline-block;">
                    {{ delete_restaurant_form.hidden_tag() }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}