<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Add any additional styles or links to external stylesheets if needed -->
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a></li>
                {% else %}
                    <li><a href="{{ url_for('dashboard') }}">User Dashboard</a></li>
                    <li><a href="{{ url_for('restaurant_list') }}">My Restaurants</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li> 
            {% endif %}
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <!-- Footer content can go here if needed -->
    </footer>

</body>
</html>
